.col-md-12
  %ol.breadcrumb
    %li= link_to 'HydraAttributes', hydra_attributes_path
    %li.active New

.col-md-6
  .panel.panel-default
    .panel-heading
      %h3.panel-title New HydraAttribute
    .panel-body
      = form_for(@hydra_attribute, url: hydra_attributes_path, as: :hydra_attribute) do |f|
        = hidden_field_tag 'entity_type', params[:entity_type]
        = render 'form_fields', f: f
        .form_group
          = f.button 'Create', class: 'btn btn-success'
          = link_to 'Cancel', hydra_attributes_path, class: 'btn btn-primary'