.col-md-6
  .panel.panel-default
    .panel-heading
      %h3.panel-title
        HydraAttribute:
        = @hydra_attribute.name
    .panel-body
      %dl.dl-horizontal
        %dt= HydraAttribute::HydraAttribute.human_attribute_name(:id)
        %dd= @hydra_attribute.id
        %dt= HydraAttribute::HydraAttribute.human_attribute_name(:entity_type)
        %dd= @hydra_attribute.entity_type
        %dt= HydraAttribute::HydraAttribute.human_attribute_name(:name)
        %dd= @hydra_attribute.name
        %dt= HydraAttribute::HydraAttribute.human_attribute_name(:backend_type)
        %dd= @hydra_attribute.backend_type
        %dt= HydraAttribute::HydraAttribute.human_attribute_name(:default_value)
        %dd= @hydra_attribute.default_value.nil? ? 'nil' : %Q("#{@hydra_attribute.default_value}")
        %dt= HydraAttribute::HydraAttribute.human_attribute_name(:white_list)
        %dd= @hydra_attribute.white_list