.col-md-6
  .panel.panel-default
    .panel-heading
      %h3.panel-title New HydraSet
    .panel-body
      = form_for(@hydra_set, url: hydra_sets_path, as: :hydra_set) do |f|
        = hidden_field_tag 'entity_type', params[:entity_type]
        = render 'form_fields', f: f
        .form_group
          = f.button 'Create', class: 'btn btn-success'
          = link_to 'Cancel', hydra_sets_path, class: 'btn btn-primary'