= form_group(f, :name, request.post?) do
  = f.text_field :name, class: 'form-control'
= form_group(f, :hydra_set_id, request.post?) do
  = f.select :hydra_set_id, Category.hydra_sets.map{ |hydra_set| [hydra_set.name, hydra_set.id] }, {include_blank: true}, class: 'form-control'

= hydra_attribute_fields_for(f.object, f, request.post?)