%table.table.table-striped.table-bordered.table-condensed
  %thead
    %tr
      %th= Category.human_attribute_name(:id)
      %th= Category.human_attribute_name(:hydra_set_id)
      %th= Category.human_attribute_name(:name)
      %th= Category.human_attribute_name(:created_at)
      %th= Category.human_attribute_name(:updated_at)
      %th
  %tbody
    - categories.each do |category|
      %tr
        %td= category.id
        %td
          - if category.hydra_set_id?
            = link_to category.hydra_set.name, hydra_set_path(category.hydra_set_id)
        %td= category.name
        %td= l category.created_at, format: :short
        %td= l category.updated_at, format: :short
        %td
          = link_to 'show', category_path(category), class: 'btn btn-info btn-xs'
          = link_to 'edit', edit_category_path(category), class: 'btn btn-warning btn-xs'
          = link_to 'delete', category_path(category), method: 'DELETE', data: {confirm: 'Are you sure?'}, class: 'btn btn-danger btn-xs'