.col-md-12
  %ol.breadcrumb
    %li.active Categories

.col-md-3
  = render 'filter', entity_class: Category, endpoint_path: categories_path

.col-md-9
  %p= link_to 'New Category', new_category_path, class: 'btn btn-primary btn-sm'
  - if @categories.any?
    - if params[:view] == 'grid'
      = render 'grid', categories: @categories
    - else
      = render 'table', categories: @categories
  = paginate @categories