.col-md-12
  %ol.breadcrumb
    %li= link_to 'Categories', categories_path
    %li.active= @category.name

.col-md-6
  .panel.panel-default
    .panel-heading
      %h3.panel-title= @category.name
    .panel-body
      %dl.dl-horizontal
        - [:id, :hydra_set_id, *@category.hydra_attributes.keys].each do |attribute_name|
          %dt= Category.human_attribute_name(attribute_name)
          %dd= @category.send(attribute_name)
        %dt= Category.human_attribute_name(:created_at)
        %dd= l @category.created_at, format: :long
        %dt= Category.human_attribute_name(:updated_at)
        %dd= l @category.updated_at, format: :long
        %dt
        %dd
          = link_to 'edit', edit_category_path(@category), class: 'btn btn-warning btn-xs'
          = link_to 'delete', category_path(@category), class: 'btn btn-danger btn-xs', method: 'DELETE', data: {confirm: 'Are you sure?'}