.col-md-12

  %nav.navbar.navbar-default
    .navbar-header
      = link_to "HydraAttribute v#{HydraAttribute::VERSION}", root_path, class: 'navbar-brand'

    .collapse.navbar-collapse.navbar-ex1-collapse
      %ul.nav.navbar-nav
        %li{class: controller_name == 'hydra_attributes' ? 'active' : ''}= link_to 'HydraAttributes', hydra_attributes_path
        %li{class: controller_name == 'hydra_sets' ? 'active' : ''}= link_to 'HydraSets', hydra_sets_path
        %li.dropdown{class: controller_name.in?(%w[categories products]) ? 'active' : ''}
          %a.dropdown-toggle{href: '#', data: {toggle: 'dropdown'}}
            Entities
            %b.caret
          %ul.dropdown-menu
            %li{class: controller_name == 'categories' ? 'active' : ''}= link_to 'Categories', categories_path
            %li{class: controller_name == 'products' ? 'active' : ''}= link_to 'Products', products_path