.col-md-5
  = render 'hydra_sets/info', hydra_set: @hydra_set

.col-md-7
  .panel.panel-default
    .panel-heading
      %h3.panel-title Update HydraAttribute List
    .panel-body
      = form_tag(update_hydra_attribute_relations_hydra_set_hydra_attribute_sets_path(@hydra_set), method: 'POST') do
        %table.table.table-condensed
          %thead
            %tr
              %th
              %th= HydraAttribute::HydraAttribute.human_attribute_name(:id)
              %th= HydraAttribute::HydraAttribute.human_attribute_name(:name)
              %th= HydraAttribute::HydraAttribute.human_attribute_name(:backend_type)
              %th= HydraAttribute::HydraAttribute.human_attribute_name(:default_value)
              %th= HydraAttribute::HydraAttribute.human_attribute_name(:white_list)
          %tbody
            - @hydra_attributes.each do |hydra_attribute|
              %tr
                %td= check_box_tag 'hydra_attribute_ids[]', hydra_attribute.id, @hydra_set.has_hydra_attribute_id?(hydra_attribute.id)
                %td= hydra_attribute.id
                %td= hydra_attribute.name
                %td= hydra_attribute.backend_type
                %td= default_hydra_attribute_value(hydra_attribute)
                %td= hydra_attribute.white_list

        = button_tag 'Update', class: 'btn btn-success btn-sm'
        = link_to 'Cancel', hydra_set_path(@hydra_set), class: 'btn btn-primary btn-sm'