!!! 5
%html
  %head
    %title= "Hydra Attribute v#{HydraAttribute::VERSION}"
    = stylesheet_link_tag    'application', media: 'all'
    = javascript_include_tag 'application'
    = csrf_meta_tags

  %body
    .container
      .row= render 'navbar'
      .row= render 'flash_messages'
      .row= yield